@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  background: #1b1b1b;

}

.flex-wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.content-position {
  margin-top: 100px;
  margin-bottom: 100px;
}

.radio-input-wrap {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.checkbox-label {
  display: flex;
  align-items: center; 
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}